<html>
	<head>
		<meta charset="utf-8"> 
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="stylesheet/button.css" rel="stylesheet">
		<!-- <link href="css/test.css" rel="stylesheet"> -->
		<link href="stylesheet/signin.css" rel="stylesheet">
		<link href="stylesheet/ionicons.min.css" rel="stylesheet">
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
		<link href="css/flat-ui.css" rel="stylesheet">
		<script src="all.js"></script>
		<script src="js/flatui-radio.js"></script>
		<script src="/socket.io/socket.io.v0.9.16.js"></script>
	</head>
	<body background="img/p2.png" >
		<div class="container">
			<style type="text/css">
				.form-control {
				  padding-right: 30px;
				}

				.form-control + .glyphicon {
				  position: absolute;
				  right: 0;
				  padding: 15px 20px;
				}

				.form-control + .icon {
				  position: absolute;
				  right: 0;
				  padding: 15px 20px;
				}
			</style>
			<div class="row">
				<!-- <div class="col-lg-12"> -->
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="navbar-header">
						    <h6 style="color:white">TestWiz
						    	<span class="glyphicon glyphicon-chevron-left"></span>
						    	<span class="glyphicon glyphicon-pencil"></span>
						    	<span class="glyphicon glyphicon-chevron-right"></span>
						    </h6>
						    <h8 style="color:white">Quiz and Test Assessment Platform</h8>
						</div>
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      	<form class="navbar-form navbar-right" action='/login'>
	      		      		  	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background: rgba(54, 25, 25, 0);color:#fff">
	      		      		    	<span style="font:Purisa Bold" class="glyphicon glyphicon-user"></span> Guest 
	      		      		    	<span class="caret"></span>
	      		      		  	</button>
	      		      		  	<ul class="dropdown-menu">
	      		      		    	<li >
	      		      		    		<a href="/home" >
	      		      		    			<span class="glyphicon glyphicon-home"></span> Home
	      		      		    		</a>
	      		      		    	</li>
	      					  	</ul>
					      		<button type="submit" class="btn btn-primary navbar-btn" style="margin-left:7px;background: rgba(54, 25, 25, 0);color:#fff">
					      			<span class="glyphicon glyphicon-log-in"></span>  Sign In
					      		</button>
					      	</form>
					    </div>
					</nav>
				<!-- </div> -->
			</div>
			</br></br></br>
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-4" style="color:#2C3E50" class="heading">
					<h3> CREATE QUIZ, DEPLOY IT, GET THE RESULTS ALL OF IT WITH GREAT EASE </h3>
					<h1>
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="glyphicon glyphicon-pencil"></span>
						<span class="glyphicon glyphicon-chevron-right"></span>
					</h1>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-6 has-feedback">
					<form class="form-signin" id='signup' role="form" method="post" action="/signin" style="margin-padding: 20px;">
						<h3 class="form-signin-heading"> <%= title2 %></h3>
						<div class="has-feedback" id="fullname">
							<input type="text" placeholder="Enter Your Name" name="fname" id="fname" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px" required autofocus>
							<span class="glyphicon glyphicon-user"></span>
						</div>
						<div class="has-feedback" id="ud">
							<input type="text" placeholder="Pick A User Name"  name="uid" id="uid" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px" required>
							<span class="glyphicon glyphicon-user"></span>
						</div>
						<div class="has-feedback" id="ed">
							<input type="text" placeholder="Enter your Email Address" name="eid" id="eid" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px" required>
							<span class="glyphicon glyphicon-envelope"></span>
						</div>
						<div class="has-feedback" id="pass">
							<input type="password" placeholder="Enter Your Password" class="form-control" id="passwd" name="passwd" style="padding:10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px"required>
							<span class="glyphicon glyphicon-lock"></span>
						<div>

						<div class="has-feedback">
							<input type="password" placeholder="Confirm Your Password" class="form-control" id="xpasswd" name="xpasswd" style="padding:10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px"required>			

							<span class="glyphicon glyphicon-lock"></span>
						</div>
						<div style="background-color:#2C3E50; margin-bottom:10px;margin-bottom:10px;border-radius:5px; padding: 10px;">
							<h7 style="text-align:center;color:#ECF0F1;margin-left:85px"><b> Select Role</b></h7>
							<div class="radio">
				          		<label class="radio" style="color:#ECF0F1">
				            		<input type="radio" name="role" id="role_creator" value="creator" data-toggle="radio" checked="">
				            		Quiz Creator
				          		</label>
				          		</br></br>
				          		<label class="radio" style="color:#ECF0F1">
				            		<input type="radio" name="role" id="role_participant" value="participant" data-toggle="radio">
				           			 Quiz Participant
				          		</label>   
							</div>
						
						</div>
						<button type="button" class=" form-control btn btn-custom" id="siu"> <span class="glyphicon glyphicon-user"></span>  Sign Up </button>
						<input type="hidden" name="_csrf" value=token>
					</form>	


				</div>
			</div>	
		</div>
	</div>
	</br>
	</br>
		<div class="container marketing">
			<div class="row full-width"  style="color:black;margin-top:25px">
				<div class="col-lg-2">
					<img src="icons/cloud-upload.png" class="img-rounded image" id="image" onmouseover="rotation(this);" style="height:140px;width:140px">
					<h4> Upload Questions </h4>
					<p> Create Quiz by,Providing Questions to us with their solutions and we will conduct it for you</p>
				</div>
				<div class="col-lg-2">
					<img src="icons/icon_list-ol.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
					<h4> Versatility Of Questions </h4>
					<p> Various kind of questions like MCQ, Subjective, questions with images and many more all under the same roof</p>
				</div>
				<div class="col-lg-2">
					<img src="icons/icon_calendar.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
					<h4> Fix a Schedule </h4>
					<p> Provide us a date and time to propell your Quiz</p>
				</div>
				<div class="col-lg-2">
					<img src="icons/icon_rocket.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
					<h4> Launch </h4>
					<p>  We will Launch it, on schedule provided by you...  </p>	
				</div><div class="col-lg-2">
					<img src="icons/icon_bar-chart-o.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
					<h4> Get The Result   </h4>
					<p> Get the complete statics of evalution </p>
				</div>
				<div class="col-lg-2">
					<img src="icons/icon_thumbs-o-up.png" class="img-rounded"  onmouseover="rotation(this);" style="height:140px;width:140px">
					<h4> Like Us </h4>
					<p> Like our official page </p>
				</div>
			</div>
		</div>
	</body>
	<script>
			var $j = jQuery.noConflict();
			var rotation = function (ele){
			   $j(ele).rotate({
			      angle:0, 
			      animateTo:360, 
			      callback: rotation,
			      easing: function (x,t,b,c,d){        // t: current time, b: begInnIng value, c: change In value, d: duration
			          return c*(t/d)+b;
			      }
			   });
			}

			function validateEmail(email) { 
			    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			    return re.test(email);
			}	
			var socket = io.connect();
	        $j(function(){

	        	$j(document).bind("contextmenu",function(e){
	        	        e.preventDefault();
	        	});
	        	$j('#siu').click(function(){
	        		var fname = $j('#fname').val();
	                var user = $j('#uid').val();
	                var email = $j('#eid').val();
	                var passwd = $j('#passwd').val();
	                var passwrd = $j('#xpasswd').val();
	                var role;	                 
	                if( $j('#role_creator').is(":checked") ){ // check if the radio is checked
            			role = "creator"; // retrieve the value
        			}else role = "participant"; // retrieve the value
	                if( passwd === passwrd){
	                	if(user.indexOf(' ')>=0){
	                		alert("Username Can't Contain Spaces!")
	                	}else if(passwd.length< 6){
	                		alert("Password Can't Be Less Than 6 Characters!");
	                	}else if(!validateEmail(email)){
	                		alert("Email You Entered Is Invalid!");
	                	}else{
	                		alert("An Email With Activation Code Sent To: " + email);
	                		socket.emit('new_user',fname,user,passwd,email, role);
	                		$j('#signup').submit();
	                	}
	                }else{
	                	alert("Passwords Didn't Match!");
	                	$j('#passwd').val('');
	                    $j('#xpasswd').val('');
	                }
	            });
	            $j('#uid').blur(function(){
	                    var name = $j('#uid').val();
	                    socket.emit('check',name);        
	            });
	            $j('#eid').blur(function(){
	                    var email = $j('#eid').val();
	                    socket.emit('check_email',email);        
	            });
	            $j('#uid').click(function (){
	            	$j('#ud').removeClass('has-error');
	            	$j('#uid').tooltip('hide');
	            });
	        	$j('#eid').click(function(){
	            	$j('#ed').removeClass('has-error ');
	            	$j('#eid').tooltip('hide');
	            });

	        });

	        socket.on('tell',function(val){
	            $j('#ud').addClass('has-error');
	            $j('#uid').val('');
	            $j('#uid').tooltip({
	            	title:"User ID Already Taken",
	            	container:'body',
	            	placement:'auto left'	
	            });
	            $j('#uid').tooltip('show');
	        });
	        socket.on('tell_email',function(val){
	            $j('#ed').addClass('has-error');
	            $j('#eid').val('');
	        	$j('#eid').tooltip({
	        		title:"Email Address Already Registered",
	        		container:'body',
	        		placement:'auto left'	
	        	});
	        	$j('#eid').tooltip('show');
	        });
		    socket.on('forward',function(){
	            $j('#signup').submit();
	        });
		</script>
</html>