<html>
<head>
	<title> Profile </title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="stylesheet/button.css" rel="stylesheet">
	<link href="stylesheet/signin.css" rel="stylesheet">
	<link href="stylesheet/ionicons.min.css" rel="stylesheet">
	<link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css' type='text/css'/>
	<link href="css/flat-ui.css" rel="stylesheet">
	<script src="alldt.js"></script>
	<script src="js/flatui-radio.js"></script>
	<script src="/socket.io/socket.io.v0.9.16.js"></script>
	<style type="text/css">
		.form-control {
		  padding-right: 30px;
		}

		.form-control + .glyphicon {
		  position: absolute;
		  right: 0;
		  padding: 51px 25px;
		}

		.form-control + .icon {
		  position: absolute;
		  right: 0;
		  padding: 15px 20px;
		}
		.body {
		   background-image:url("img/p2.png");
		   -webkit-background-size: cover;
		   -moz-background-size: cover;
		   -o-background-size: cover;
		   background-size:cover;
		}
		.btn-file {
		    position: relative;
		    overflow: hidden;
		}
		.btn-file input[type=file] {
		    position: absolute;
		    top: 0;
		    right: 0;
		    min-width: 100%;
		    min-height: 100%;
		    font-size: 999px;
		    text-align: right;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		}

	</style>
</head>
<body background="img/p2.png">
<div class="container">
	<div class="row">
	    <div class="col-lg-12">
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            <div class="navbar-header">
	                <h5 style="color:white" >TestWiz
	                    <span class="glyphicon glyphicon-chevron-left"></span>
	                    <span class="glyphicon glyphicon-pencil"></span>
	                    <span class="glyphicon glyphicon-chevron-right"></span>
	                </h5>
	            </div>
	           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	              <form class="navbar-form navbar-right" action='/logout'>
	                    <div class="btn-group">
	                      <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" style="background: rgba(54, 25, 25, 0);color:#fff">
	                        <span class="fui-user"></span> <%= title %> 
	                        <span class="caret"></span>
	                      </button>
	                      <ul class="dropdown-menu">
	                        <li ><a href="/home" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
	                        <li><a href="/cpasswd?user=<%= title %>" ><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
	                        
	                      </ul>
	                    </div>
	                    <button type="submit" class="btn navbar-btn btn-inverse" style="background: rgba(54, 25, 25, 0);color:#fff"><span class="glyphicon glyphicon-log-out"></span> logout</button>
	              </form>
	           </div>
	            
	        </nav>
	    </div>
	</div>
	</br>
	</br>
	<div class="row">
	<form action="/profile" method="post">
		<div class="col-lg-3">
			<img src="img/p2.png"  id="dp" class="img-rounded" style="border-width:2px;border-radius:2px;border-style:solid;border-color:#2C3E50 #2C3E50;height:35%;width:100%">
			<span class="btn btn-default btn-file" style="margin-top:10px;width:100%;color:#2C3E50" >
			    <span class="fui-photo"></span> &nbsp Change Profile Picture
				<input type="file">
			</span>
		</div>
		<div class="col-lg-2">
			
		</div>

		<div class="col-lg-3">
			<label> Organization &nbsp Name</label>
			<div>
			<input type="text" placeholder="Organization"  name="uid" id="uid" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px" required>
			<span class="glyphicon glyphicon-briefcase"></span>
			</div>
		</div>

		<div class="col-lg-3">
			<label>Location</label>
			<div>
			<input type="text" placeholder="Location"  name="uid" id="uid" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px" required>
			<span class="glyphicon glyphicon-map-marker"></span>
			</div>
		</div>		

		<div class="col-lg-2">
			
		</div>

		<div class="col-lg-6">
			<label>Your Address</label>
			<div>
			<TEXTAREA placeholder="Location"  name="uid" id="uid" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#2C3E50;border-radius:5px" required></TEXTAREA>
			<span class="glyphicon glyphicon-home"></span>
			</div>
		</div>		

	</form>	
	</div>
</div>
</body>
</html>