<html>
	<head>
		<meta charset="utf-8">
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
		<script src="all-ro.js"></script>
		<script src="jquery.cookie.js"></script>
	</head>
	<body background="img/dirty_old_shirt.png" >
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="navbar-header">
						    <h3 style="color:white" >TestWiz</h3>
						</div>
					   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <form class="navbar-form navbar-right" action='/logout'>
					      		<div class="btn-group">
					      		  <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" style="background: rgba(54, 25, 25, 0);color:#fff">
					      		    <span class="glyphicon glyphicon-user"></span> <%= title %> 
					      		    <span class="caret"></span>
					      		  </button>
					      		  <ul class="dropdown-menu">
					      		    <li ><a href="/home" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
					      		    <li ><a href="/cpasswd?user=<%= title %>" ><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
					      		    <li><a href="/login"><span class="glyphicon glyphicon-wrench"></span> Change email address</a></li>
								  </ul>
					      		</div>
					      		<button type="submit" class="btn navbar-btn btn-inverse" style="background: rgba(54, 25, 25, 0);color:#fff" ><span class="glyphicon glyphicon-log-out"></span> logout</button>
					      </form>
					   </div>
						
					</nav>
				</div>
			</div>
		</br></br>
			<div class="row" style="background: rgba(255, 255, 255, 0.2);color:#fff;margin-top:50px;">

				<form role="form" class="form group" action="/quiz_edit" method="post">
				<div>
					<h1 style="margin-left:325px"> Select Quiz And Insert Credentials <h1>
				</div>
				<div class="row">
					<div class="col-lg-1" ></div>
					<div class="col-lg-2" >
						<% for( var t=0; t< list.length; t++){ %>
							<input type="radio" style="" value=<%= list[t]%>  name="choice" required>	 
							     QUIZ ID <%= list[t] %></label>
							 </br>
						<% } %>
					</div>
					<div class="col-lg-4"></div>
					<div class="col-lg-3" style="background: rgba(0, 0, 0, 0.3);color:#fff;margin-top:50px;" >
						</br>
						<div class="input-group">
							<span class="input-group-btn">
								<button class=" btn-lg btn-inverse" type="button" id="psb" style="float:middle;"  >
									<span class="glyphicon glyphicon-edit" id="psbt" style="color:black"></span>
								</button>
							</span>
							<input type="password" class='form-control' style="height:42px;width:100%;margin-bottom:10px;margin-top:10px" name="passwd" placeholder="Password" >
						</div>
						<button type="submit"  class="btn btn-success btn-block" style="height:42px;color:black">
							<span class="glyphicon glyphicon-check"></span>
						</button>
						</br>
					</div>
					<div class="col-lg-3">
						</br></br></br></br></br></br></br>
					</div>
					</br>

				</div>
				</form>


			</div>

						
		</div>
	</body>
	<script type="text/javascript">
		$(function() {
			if( $.cookie('W') == 0){
				$.removeCookie('W');
				$('#psbt').removeClass('glyphicon-edit');
				$('#psbt').addClass('glyphicon-remove-sign');
				$('#psb').removeClass('btn-inverse');
				$('#psb').addClass('btn-danger');
			}
		});
	</script>
</html>